@import '../scss/colors';

#home {
	background-color: $black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	#background {
		width: -webkit-fill-available;
		height: 20rem;
	}

	main {
		background-color: $dark-gray;
		padding: 4rem 5rem;
		width: fit-content;
		border-radius: 1rem;
		z-index: 1;
		position: relative;
		top: -9rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;

		#heading {
			width: 28rem;
			text-align: center;

			#title {
				color: $white;
			}

			#description {
				color: $gray;
				margin: 0;
			}

			#vector {
				position: absolute;
				right: 16rem;
				top: 2rem;
				z-index: -1;
			}
		}

		#filters {
			display: flex;
			gap: 1rem;

			button {
				border: 0;
				border-radius: 0.3rem;
				color: $white;
				padding: 0.5rem 1rem;
				background-color: transparent;
			}

			.active {
				background-color: $gray;
			}

			button:hover {
				background-color: $gray;
			}
		}

		#list {
			display: grid;
			grid-template-columns: auto auto auto;
			row-gap: 4rem;
			column-gap: 2.5rem;
		}
	}
}
