@import '../scss/colors';

@import 'Home.mobile';
@import 'Home.tablet';
@import 'Home.desktop';

#home {
	align-items: center;
	background-color: $black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	#background {
		width: -webkit-fill-available;
	}

	main {
		align-items: center;
		background-color: $dark-gray;
		border-radius: 1rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		position: relative;
		z-index: 1;

		#heading {
			text-align: center;

			#title {
				color: $white;
			}

			#description {
				color: $gray;
				margin: 0;
			}
		}

		#filters {
			display: flex;
			gap: 1rem;

			button {
				background-color: transparent;
				border-radius: 0.3rem;
				border: 0;
				color: $white;
				padding: 0.5rem 1rem;
			}

			.active {
				background-color: $gray;
			}

			button:hover {
				background-color: $gray;
			}
		}
	}
}
